<html xmlns:th="http://www.thymeleaf.org">
<body>

	
	<!--/*@thymesVar id="message" type="com.abdul"*/-->
	<div th:if="${message}">
		<h2 th:text="${message}"></h2>
	</div>

	<div>
		<form method="POST" enctype="multipart/form-data" action="/admin/uploadForm">
			<table>
				<tr><td>File to upload:</td><td><input type="file" name="file" class="file"/></td></tr>
				<tr><td></td><td><input type="submit" value="Upload" /></td></tr>
			</table>
		</form>
	</div>

	<div>
		<ul>
			
			<li th:each="file:${files}">
                <a th:href="${file}" th:text="${file}" ></a>
			</li>
		</ul>
	</div>

</body>
</html>
